/* 1. Imports first */
@import "./main.css";
@import "./animation.css";
@import "./calendar-styling.css";

.color-ah { 
    color: #00A2E5; 
}

.hover-gray:hover{
    background-color: #f7f7f7;
}

.gray-light{
    background-color: #f0f0f0;
}

.gray-base{
    background-color: #e6e6e6;
}

.bg-ah{ 
    background-color: #00A2E5; 
}
.hover-ah:hover{
    background-color: #15b9ff; 
}

.t-ah-border{ 
    box-shadow: 0 -1px 0 #00A2E5; 
}

.b-ah-border { 
    box-shadow: 0 1px 0 #00A2E5;
}

.t-border{ 
    box-shadow: 0 -1px 0 #cccccc; 
}

.b-border { 
    box-shadow: 0 1px 0 #cccccc;
}

.btn{
    border-radius: 9999px;
    display: inline-block;
    cursor: pointer;
}



/* 2. Tailwind directives second */
@tailwind base;
@tailwind components;
@tailwind utilities;
