.calendar .today{
    background-color: #00A2E5;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    color: white;
}

.calendar .day{
    /* border: 1px solid #d1d1d1; */
    height: 30px;
}

.calendar .dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.calendar .options{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}